{% extends "base.html" %}
{% comment %} {% load static %} {% endcomment %}
{% block content %}
    {% if user.is_authenticated %}
        {{user.full_name}}
    {% endif %}
    <br>
    
    {% for p in products %}
   
    <div class="card" style="width: 18rem; display: inline-block;" >
        <img src="{{p.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{p.name}}</h5>
            <p class="card-text">{{p.description}}</p>
            <a href="{{p.get_absolute_url}}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
    {% endfor %}
{% endblock content %}