{% load static %}

<!-- CSS Libraries -->
{% include "inc/navbar.html" %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="{% static "lib/slick/slick.css" %} " rel="stylesheet">
<link href="{% static "css/style.css" %}" rel="stylesheet">
<link href="{% static "img/favicon.ico" %}" rel="icon">
{% comment %} {% block extra_headers %} {% endblock %} {% endcomment %}

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">


{% include "inc/messages.html" %}
{% include "inc/top-bar.html" %}
{% block extra_headers %}
{% endblock extra_headers %}
{% block content %}

{% endblock content %}
{% include "inc/header.html" %}



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static "lib/easing/easing.min.js" %}"></script>
<script src="{% static "lib/slick/slick.min.js" %}"></script>
<!-- Template Javascript -->
<script src="{% static "js/main.js" %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
