<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="product-list.html" class="nav-item nav-link">Products</a>
                    <a href="product-detail.html" class="nav-item nav-link">Product Detail</a>
                    <a href="{% url "orders:cart" %}" class="nav-item nav-link">Cart</a>
                    <a href="checkout.html" class="nav-item nav-link">Checkout</a>
                    
                    <div class="nav-item dropdown">
                        <button class="btn btn-default dropdown-toggle nav-link" data-toggle="dropdown" style="background-color: #FF6F61;">
                            Tutorials <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" tabindex="-1" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                    <ul class="dropdown-menu">
                                        {% for sub in category.scategory.all %}
                                            <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% if request.user.is_authenticated %}
                        <a href="my-account.html" class="nav-item nav-link">My Account</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'accounts:user_logout' %}" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
                            <div class="dropdown-menu">
                                <a href="{% url 'accounts:user_login' %}" class="dropdown-item">Login</a>
                                <a href="{% url 'accounts:user_register' %}" class="dropdown-item">Register</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="navbar-nav ml-auto">
                    <!-- Add any additional nav items here -->
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->   

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $('.dropdown-submenu > a').on("click", function(e){
            var $submenu = $(this).next('ul');
            e.preventDefault();
            $submenu.toggle();
            
        });
    });
    

</script>
